doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title screen_1
        link(rel="stylesheet", href="/css/screen.css")
    body 
        .header
        .main
            .main__col1
                .main__col1__sec1
                .main__col1__sec2
                .main__col1__sec3
            .main__col2
                .main__col2__txt1 자세히 보기＞
                .main__col2__txt2 자세히 보기＞
            .main__col3
                .main__col3__sec1
                .main__col3__sec2
                    .main__col3__sec2__txt1 2.함수 활용하기
                    .main__col3__sec2__txt2 Sum 이라는 함수를 만들고
                    .main__col3__sec2__txt3 2개의 파라미터를 받고,
                    .main__col3__sec2__txt4 2개의 파라미터를 더하여 출력한다.
        .footer