doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title screen_1
        link(rel="stylesheet", href="/css/screen.css")
    body 
        .header 
        .main
            .main__col1
                .main__col1__sec1
                .main__col1__sec2
                .main__col1__sec3
            .main__col2
            .main__col3
                .main__col3__sec1
                .main__col3__sec2
        .footer